[Unit]
Description=Regular check in
Wants=check-in.timer

[Service]
Type=oneshot
ExecStart=curl -X POST https://status.unexpectedeof.casa/?service=ARCADE

[Install]
WantedBy=multi-user.target
